name: Main
permissions:
  contents: read       # Allows the workflow to read the repository contents
  pull-requests: write # Allows the workflow to create and update pull requests

on:
  # workflow_dispatch: allows to run the workflow manually from the GitHub UI
  # pull_request: triggers the workflow on pull request events
  [workflow_dispatch, pull_request]

env:
  CI: 1

jobs:
  main:
    timeout-minutes: 15
    name: 'main'  
    runs-on: ubuntu-latest
    
    steps:
    - name: 'Checkout code'
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
    
    - name: 'Install Node.js 24'
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      with:
        node-version: '24.x'
        cache: 'npm'
    
    - name: Install dependencies
      run: npm install
    
    - name: Lint
      run: npm run lint
    
    - name: Test
      run: npm test
